<div class="nav-bar__container">
  <div class="nav-brand">
    <img src="../../../assets/brand.png" alt="logo" />
  </div>
  <div class="menu-items">
    <ul>
      <li><a href="#">Learn</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Bookmarks</a></li>
      <li><a href="#">UI Kit</a></li>
    </ul>
  </div>
  <div class="social-media">
    <ul>
      <li>
        <a href="#">
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Github</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Youtube</span>
        </a>
      </li>
    </ul>
  </div>
</div>
